extends ./_base.pug

block head
  title
    | 404 Not Found | SUSH
  meta(name="robots", content="noindex")
  link(rel="stylesheet", href="/style/index.css")

block body
  main.outer
    .inner
      img(src="/asset/notfound.svg")
      h1 404 Not Found
      p Sorry, the document is not found.
