@import "https://unpkg.com/normalize.css";
@import "https://unpkg.com/basscss/css/basscss.min.css";
@import "https://unpkg.com/semantic-ui-css/components/button.min.css";
@import "https://unpkg.com/semantic-ui-css/components/input.min.css";
@import "https://unpkg.com/semantic-ui-css/components/label.min.css";
@import "https://unpkg.com/github-markdown-css";

.markdown-body {
  & h1 img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  & li > p {
    margin: 0;
  }
}
