@define-mixin center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

html, body, main {
  width: 100%;
  height: 100%;
  margin: 0;
  font-weight: bold;
  background: #FFFFFF;
}

main {
  @mixin center-flex;
}

div.outer {
  @mixin center-flex;
  padding: 10px;
  min-width: 50%;
  min-height: 50%;
  background: #EEEEEE;
}

div.inner {
  text-align: center;
  img {
    max-width: 70%;
    @media screen and (max-width: 350px) {
      max-width: 90%;
    }
  }
}
