extends _base

block head
  meta(name="robots", content="noindex")
  link(rel="stylesheet", href="/dist/css/index.css")

block body
  main
    div.outer
      div.inner
        img(src="/dist/asset/sush_notfound.svg")
        h1 404 Not Found
        p Sorry, the document is not found.
