extends _base

block head
  meta(name="robots", content="noindex")
  link(rel="stylesheet", href="dist/css/index.css")

block body
  main
    div.outer
      div.inner
        img(src="dist/asset/sush_logo.svg")
        h1 Redirecting...
        p The document has moved.

block script
  script(src="dist/js/index.js", async)
